 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Rubik:wght@300;400;600;700&display=swap');

 :root{
   --color-1: #b2b2ed;
   --color-2: slategray;
 }

 /* BASE STYLE */
 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }

html,
 body{
    font-family: 'poppins', sans-serif;
    background: #fff;
    color: #000;
    width: 100%;
    height: 100%;
 }

 /* HEADER */
 /
 .header{
   width: 100%;
   height: 100%;
  background: var(--color-1);  

 }

.header-content{
   background: var(--color-1);
   color: rgb(6, 6, 128);
   width: 100%;
}

.header-content nav button ul li .login-btn{
   font-size: 2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-start;
   text-align: center;
}
.header-content .navigation li{
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   align-items: center;
   list-style: none;
}

/*
 .logo{
    display: flex;
    height: 4em;
    color: #fff;
    padding: 0;
    margin: 0;
 }

 /* Nav */
 /*
 nav{
   display: flex;
   justify-content: right;
   cursor: pointer;
   padding: 10px 20px;
   margin: 20px 0;
   
 }
 
 li{
   list-style: none;
 }

/* NAVIGATION */
/*
.navigation{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.navigation, li, a{
   display: inline-flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
   text-decoration: none;
   margin: 10px;
   padding-top: 10px;
   font-size: 1rem;
   font-weight: 10;
   color: beige;

}

.navigation, li, a:hover{
   color: blue;
}

 h1{
   font-size: 3rem;
   font-weight: bold;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   color: #000;
 }

 .h1-txt{
   color: #000;
   display: flex;
   justify-content: center;
   text-align: center;
 }

 /* Button */
 /*
 .login-btn{font-size: 2.3rem;
   border: #fff;
   border-radius: 3px;
}

 .btn{
   display: flex;
   flex-direction: row;
   text-align: center;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   padding: 4px;
   margin: 10px;
   gap: 100px;
   top: 20;
}

.btn .btn-download{
box-sizing: border-box;
   border-radius: 20px;
   box-shadow: #fff;
   color: #000;
   font-size: 1.5rem;
   border: 1px solid #fff;
   text-decoration: none;
   font-weight: 100;
   background: #fff;
   position: relative;
   top: 10px;
}

.btn .btn-open{
   box-sizing: border-box;
      border-radius: 20px;
      box-shadow: #fff;
      color: #fff;
      font-size: 1.5rem;
      border: 1px solid #000;
      text-decoration: none;
      font-weight: 100;
      background: #000;
      position: relative;
      top: 10px;
   }

   .img-2 .img-3{
      display: flex;
      flex-direction: column;
      grid-template-columns: 1fr 1fr;
   }

   /* SECTION */
   /*
.section{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 5px;
   margin: 6px;
   background: #fff;
   color: #000;
   height: 100vh;
}

   .home-txt-1 h2{
      font-size: 2rem;
      font-weight: bold;
      position: relative;
      top: 1;
      left: 50%;
      justify-content: center;
   }

   .home-txt-1 .sub-txt-1{
      position: relative;
      top: 1;
      left: 50%;
   }

   .home-txt-1 img{
      position: relative;
      right: 50%;
      bottom: 250px;
   }
    
   .home-txt-2 h2 {
      font-size: 2rem;
      display: flex;
      flex-direction: row;
   }  

   .home-txt-2 img{
      position: relative;
      left: 50%;
      bottom: 220px;
   }

   .home-txt-3 h2{
      font-size: 2rem;
      position: relative;
      left: 80%;
   }

   .home-txt-3 .sub-txt-3{
      position: relative;
      left: 80%;
   }

   .home-txt-3 img{
      position: relative;
      right: 50%;
      bottom: 230px;
   }

   .home-txt-4 .sub-txt-1{
      position: relative;
      justify-content: center;
      text-align: center;
      align-items: center;
      top: 4;
   }

   .home a{
      color: #000;
      cursor: pointer;
   }


   /* DOWNLOAD STYLE */
   /*
    .download{
      width: 100%;
      background-color: #000;
   }
      
.download h1{
   font-size: 3.1rem;
   font-weight: bold;
   color: whitesmoke;
   display: flex;
   flex-direction: column;
   justify-content: left;
   align-items: center;
   right: 100px;
}

.download p{
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   color: whitesmoke;
}

.download img{
   position: relative;
   top: 10px;
}

/* footer */
/*
.footer{
   display: flex;
   flex-direction: column;
   width: 100%;
   margin: 0;
   padding: 0;
   color: #000;
   top: 1;
   left: 0;
}

.footer-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   top: 1;
   color: blue;
}

.place a{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   color: #000;
}

.product a{
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: #000;
}

/* MEDIA QUERIES */
/*
   @media(max-width: 1888px){
      
      .btn{
         border-radius: 2px;
      }
      
      .navigation ul li a{display: grid;
         grid-template-columns: 1fr 1fr;
         font-size: 1rem;
         justify-content: center;
         top: 0;
         right: 10;
      }
   }

      